@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

body {
  max-width: 768px;
  position: relative;
}

header {
  background-color: rgb(26, 32, 44);
  padding: 20px 30px;
  height: 70px;
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  position: absolute;
  background-color: rgb(45, 55, 72);
  left: 0;
  right: 0;
  padding: 30px;
  z-index: 1;
  top: 10%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.show {
  display: flex;
}

.nav-item {
  font-size: 1rem;
  cursor: pointer;
}

.nav-item:hover {
  color: aqua;
  transition: all 0.3s ease-in-out;
}

.hamburger {
  display: block;
  cursor: pointer;
  padding: 3px 9px;
}

.hamburger:hover{
   border: 1px solid #4a5568;
   border-radius: 7px;
   background-color: #4a5568;
   opacity: 0.9;
}

.hamburger:active {
  border: 1px solid #4a5568;
  border-radius: 7px;
  background-color: #4a5568;
}

.bar {
  display: block;
  width: 26px;
  height: 3px;
  margin: 6px auto;
  background-color: white;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
  background-color: white;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-11px) rotate(-45deg);
  background-color: white;
}

main {
  background: url('bg-image-4.jpg') rgba(0, 0, 0, 0.42);
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 81vh;
  background-blend-mode: multiply;
  position: relative;
}

section {
  min-height: 81vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem auto;
  align-items: center;
  justify-content: center;
}

[class *="section"] h2 {
  font-size: 5vw;
  color: white;
}

.book-section {
  display: none;
  flex-direction: column;
  gap: 20px;
}

.book-container {
  width: 70vw;
  border-collapse: collapse;
  margin-bottom: 3rem;
  border: 1px solid grey;
  padding: 10px;
}

.book-container tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book-container tr:nth-child(even) {
  background-color: #f2f2f29d;
}

.book-container tr:hover {
  background-color: #ddd;
}

.book-container td {
  padding: 8px;
}

.book-container td:last-child button {
  background-color: red;
  border: 1px solid red;
  padding: 4px;
  color: white;
}
.form-section{
  display:none;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

form input {
  width: 70vw;
  padding: 0.5rem 0;
  border: 1px solid white;
  border-radius: 4px;
  outline: none;
}


form [class *="book"]:focus {
  border: 2px solid orange;
}

form .add-btn {
  color: white;
  background: rgb(43, 183, 208);
  border: 1px solid rgb(43, 183, 208);
}

.add-btn:hover {
  opacity: 0.8;
}

.add-btn:active {
  background-color: rgb(3, 94, 112);
}

.contact-section {
  display: none;
  font-size: 15px;
  flex-direction: column;
  text-align: left;
  gap: 30px;
}

.contact-section span {
  display: block;
  margin-bottom: 10px;
}

.contact-list {
  margin-left: 30px;
}

.active {
  display: flex;
}

.contact-list li {
  line-height: 1.5em;
}

.footer-section {
  border: 3px solid black;
  max-width: 100%;
  padding: 0.5rem;
  position: absolute;
  top: 91vh;
  left: 0;
  right:0;
}

footer {
  position: absolute;
  height: 13%;
  top: 88%;
  left: 0;
  right: 0;
  background: black;
  padding: 20px;
}

@media screen and (min-width:768px) {
  body {
    max-width: 100%;
  }

  header {
    padding: 7px;
  }

  .nav-items {
    display: flex;
    flex-direction: row;
    position: relative;
    background: none;
    height: 0;
    gap: 30px;
  }

  .hamburger {
    display: none;
  }

  form input {
    padding: 1em;
  }

  .submit-btn {
    font-size: 1.2em;
    padding: 0.5em;
  }
}